[project]
	description = A CloudDev App
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roger Villars (rvillars)
[access "refs/for/refs/*"]
	read = group user/Roger Villars (rvillars)
	push = group user/Roger Villars (rvillars)
	label-Code-Review = -2..+2 group user/Roger Villars (rvillars)
	label-Verified = -1..+1 group user/Roger Villars (rvillars)
	rebase = group user/Roger Villars (rvillars)
	removeReviewer = group user/Roger Villars (rvillars)
	submit = group user/Roger Villars (rvillars)
[access "refs/heads/*"]
	read = group user/Roger Villars (rvillars)
	create = group user/Roger Villars (rvillars)
	push = +force group user/Roger Villars (rvillars)
	pushMerge = group user/Roger Villars (rvillars)
[access "refs/tags/*"]
	push = +force group user/Roger Villars (rvillars)
	pushTag = group user/Roger Villars (rvillars)
	pushSignedTag = group user/Roger Villars (rvillars)
